<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<welcome-file-list>
	<welcome-file>WEB-INF/test.html</welcome-file>
</welcome-file-list>
  <display-name>TaskChatServer</display-name>
  <servlet>
  	<servlet-name>ServerPoolServlet</servlet-name>
  	<servlet-class>com.guotingchao.TaskChat.Servlet.ServerPoolServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>TaskMainServlet</servlet-name>
  	<servlet-class>com.guotingchao.TaskChat.Servlet.TaskMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>	
  	<servlet-name>TaskMainServlet</servlet-name>
  	<url-pattern>*.os</url-pattern>
  </servlet-mapping>
</web-app>
